<div class="body">
  <div class="flex-container" *ngIf="seller">
    <img class="image" src="{{seller.imagePath}}" alt="smuuu" />
    <div class="flex-item">
      <h2>{{seller.name}}</h2>
      <h3>{{seller.category}}</h3>
    </div>
  <div class="add-button">
    <button class="btn btn-primary">Bæta við vöru</button>
  </div>
</div>

  <div class="product-container">
    <div class="flex-product" *ngFor="let p of products">
      <app-product-card 
        [product]="p"
        (productUpdated)="onProductEdited($event)">
      </app-product-card>
    </div>
  </div>
</div>