 <div class="flex-container"> 
  <div class="modal-header">
    <h4 class="modal-title">Nýr seljandi</h4>
  </div>

  <form #sellerForm="ngForm">
    <div class="modal-body">
      <label for="name">Nafn</label>
      <input type="text" id="name" required minlength="3" name="name" placeholder="Jón Jónsson" [(ngModel)]="product.name" #name="ngModel" autofocus/>    
      <br>

      <label for="price">Verð í krónum</label>
      <input type="text" id="price" required name="price" placeholder="100" [(ngModel)]="product.price" #price="ngModel"/>
      <br>

      <label for="quantitySold">Seld eintök</label>
      <input type="text" id="quantitySold" required name="quantitySold" placeholder="500" [(ngModel)]="product.quantitySold" #quantitySold="ngModel"/>
      <br>

      <label for="quantityInStock">Eintök á lager</label>
      <input type="text" id="quantityInStock" required name="quantityInStock" placeholder="1000" [(ngModel)]="product.quantityInStock" #quantityInStock="ngModel"/>   
      <br>

      <label for="imagePath">Mynd</label>
      <input type="text" id="imagePath" required name="imagePath" placeholder="http://example.com" [(ngModel)]="product.imagePath" #imagePath="ngModel"/>   
      <br>
      
       <div class="alert alert-danger" [hidden]="sellerForm.form.valid">
        All input fields must be filled
      </div>
    </div>

    <div class="modal-footer flex-item">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Loka</button>
      <button type="button" class="btn btn-success" [disabled]="!sellerForm.form.valid" (click)="onOk()">Samþykkja</button>
    </div>
  </form>
</div>

